# Build
build/
cmake-build-*/
out/
x64/
Debug/
Release/
*.obj
*.lib
*.exp
*.pdb
*.ilk
*.exe

# IDE
.vs/
.vscode/
*.sln
*.suo
*.user
*.vcxproj*

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CMakeUserPresets.json

# Dependencies
_deps/

# Tools folder (created at runtime)
tools/

# OS
Thumbs.db
.DS_Store
